{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Schedule' %}{% endblock %}
{% block content %}

    <div class="container schedule">
    {% for timetable in days %}
        <div class="day day-{{ timetable.day.date|date:"o-m-d" }}">
            <h3>{{ timetable.day.date|date:"l j F, Y" }}</h3>
            {% include "prettyschedule/_grid.html" %}
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/1.3.0/jquery.floatThead.min.js"></script>
<script type="text/javascript">
$('table.calendar').floatThead();
</script>
{% endblock %}
