{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1>PyCon Canada 2016 Call for Proposals is now open!</h1>

    {% if request.user.is_authenticated %}
    <div class="text-center">
        {% if not user.speaker_profile %}
            <a href="{% url 'speaker_create' %}" class="btn btn-large btn-primary">CREATE SPEAKER PROFILE</a>
        {% else %}
            <a href="{% url 'proposal_submit_kind' 'talk' %}" class="btn btn-large btn-primary">SUBMIT A TALK</a>
        {% endif %}
    </div>
    {% endif %}
    
    {% box "homepage" %}
    
    <h2>How to Submit your Proposal</h2>
    
    <ol>
        <li {% if request.user.is_authenticated %}style="text-decoration:line-through;" class="text-success"{% endif %}>Sign up for an account: <a href="https://cfp.pycon.ca/account/signup/">https://cfp.pycon.ca/account/signup/</a>.</li>
        <li {% if request.user.is_authenticated %}style="text-decoration:line-through;" class="text-success"{% endif %}>Click the confirmation link in your email</li>
        <li {% if request.user.is_authenticated %}style="text-decoration:line-through;" class="text-success"{% endif %}>Sign in again: <a href="https://cfp.pycon.ca/account/login/">https://cfp.pycon.ca/account/login/</a>.</li>
        <li {% if request.user.is_authenticated and user.speaker_profile %}style="text-decoration:line-through;" class="text-success"{% endif %}>Click the "Dashboard" link: <a href="https://cfp.pycon.ca/dashboard/">https://cfp.pycon.ca/dashboard/</a>.</li>
        <li {% if request.user.is_authenticated and user.speaker_profile %}style="text-decoration:line-through;" class="text-success"{% endif %}>Click "Create speaker profile" link: <a href="https://cfp.pycon.ca/speaker/create/">https://cfp.pycon.ca/speaker/create/</a>.</li>
        <li>Click "Submit a new proposal" then the "Talk/Tutorial" link: <a href="https://cfp.pycon.ca/proposals/submit/talk/">https://cfp.pycon.ca/proposals/submit/talk/</a>.</li>
        <li>Fill out that form, click “Save” (or “Save and Add Additional Speakers” if someone else will be giving this talk with you) and you’re all done!</li>
    </ol>
    
    {% box "homepage-proposal-guidelines" %}
{% endblock %}
